* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #0B0CE6;
    --color-blue-two: #00d4ff;
    --color-black: #000;
    --color-white: #fff;
    --gradient-backgroud: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-image: var(--gradient-backgroud);
}

li {
    list-style: none;
}

/*links*/

.nav-link {
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    color: var(--color-white);
    transition: all 0.6s ease-in-out;
}

.nav-link:hover {
    color: var(--color-blue-two);
}